.button {
    height: 30px;
    padding: 5px 24px 5px 24px;
    border-radius: 3px;
    gap: 10px;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
}

.disabled {
    width: 133px;
    background-color: #004D99;
    color: #002E5C;
    opacity: 0.5;
}

.secondary {
    width: 176px;
    border: 1px solid #0066CC;
    background-color: #FFFFFF;
    color: #0066CC;
}

.default {
    width: 132px;
    background-color: #0066CC;
    color: #FFFFFF;
}

.red {
    width: 129px;
    background-color: #CC1439;
    color: #FFFFFF;
}

.default:hover {
    width: 167px;
    background-color: #0080FF;
}

.red:hover {
    width: 167px;
    background-color: #FF1A47;
}

.secondary:hover {
    width: 176px;
    border: 1px solid #0066CC;
    background-color: #E5F0FA;
}

.default:active {
    width: 149px;
    background-color: #0059B2
}

.secondary:active {
    width: 149px;
    border: 1px solid #0066CC

}

.red:active {
    width: 149px;
    background-color: #B21232;
}

.button:disabled {
    width: 133px;
    background-color: #004D99;
    color: #002E5C;
    opacity: 0.5;
}
